.subreddit__name {
  margin: 0;
}

.subreddits__title {
  margin: 0;
  color: var(--mainTitle-color);
}

.subreddits__container {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 75vw;
  transform: translateX(-100%);
  transition:
    transform var(--animation),
    opacity var(--animation);
  visibility: hidden;
  overflow-y: auto;
  background: #0d203e;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  padding: 1rem 0 2rem 1rem;
}

/* the class name 'open' is added in Subreddits component */
.subreddits__container.open {
  transform: translateX(0);
  visibility: visible;
}
