.subreddit__name {
  margin: 0;
}

.subreddits__container {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform var(--animation);
  background: #0d203e;
  opacity: 0.9;
  min-height: 100vh;
  display: flex;
  gap: 0.4rem;
  padding: 1rem 3rem 0 1rem;
}
