.posts__container {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.posts__title {
  padding: 0 0 1rem 1rem;
}

.post__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 0 0;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--container-color);
}

.post__title {
  padding: 0 1rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.post__info {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
}

.author-date {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-weight: 300;
}

.post__author {
  color: var(--author-color);
}
.post__button {
  all: unset;
  background: var(--font-color);
  color: var(--container-color);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
