.comments__container {
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(
    to top,
    #31363f,
    #31363f,
    #31363f,
    #31363f,
    #31363f,
    #30353e,
    #2e333c,
    #2d323b,
    #2a2f38,
    #272d36,
    #252a33,
    #222831
  );
}

.comment__container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.comment__info {
  display: flex;
  gap: 0.2rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.comment__author {
  color: var(--author-color);
}

.comment__body {
  line-height: 1.3rem;
}
