:root {
  /*burger menu variables */
  --bar-width: 35px;
  --bar-height: 3px;
  --bar-gap: 6px;
  --animation: 200ms ease-in-out;
  --burger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
}

.header {
  display: flex;
  justify-content: center;
}
.navbar__title {
  color: var(--mainTitle-color);
  margin: 0;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 900;
}

/* BURGER MENU */
.burger__menu {
  --x-width: calc(
    var(--burger-height) * 1.41421356237
  ); /* calculates the length of the lines when they become a cross (multiply by the square root of 2) */
  position: absolute;
  top: 18px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--bar-gap);
  cursor: pointer;
  padding: 0.5rem 0;
}

.burger__menu input, /* checkbox. middle line */
.burger__menu::before, /* top line */
.burger__menu::after {
  /* bottom line */
  margin: 0; /* by default the middle line contained some margin */
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  border-radius: 18px;
  background: var(--mainTitle-color);
  transition:
    opacity var(--animation),
    /* transition for opacity, width, length and rotate */ width
      var(--animation),
    rotate var(--animation),
    translate var(--animation);
  transform-origin: left; /* the axis where the lines rotate are now on the left */
}

.burger__menu input {
  width: calc(var(--bar-width) - 5px);
  appearance: none; /* removes checkbox appareance and takes the above settings (widht, length) */
  pointer-events: none; /* disable click on the checkbox so that the click is handled by the b_menu */
}

.burger__menu:has(input:checked)::before {
  rotate: 45deg; /*rotates the top line downwards */
  width: var(
    --x-width
  ); /*sets the new length of the line when it becomes a cross */
  translate: 0 calc(var(--bar-height) / -2); /*moves the axis slightly up */
}

.burger__menu:has(input:checked)::after {
  rotate: -45deg; /* rotates the bottom line upwards */
  width: var(
    --x-width
  ); /*sets the new length of the line when it becomes a cross */
  translate: 0 calc(var(--bar-height) / 2); /*moves the axis slightly down */
}

.burger__menu input:checked {
  /* removes the middle line */
  opacity: 0;
  width: 0;
}

/* DESKTOP VIEW */

@media only screen and (min-width: 800px) {
  .burger__menu {
    display: none;
  }
}
