/* GLOBALS */
:root {
  --mainTitle-color: #c62300;
  --background-color: #222831;
  --font-color: #f5efe7;
  --container-color: #31363f;
  --button-color: #eeeeee;
  --author-color: #f97300;
}
body {
  background: var(--background-color);
  color: var(--font-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* APP CONTAINER  */

/* @media only screen and (min-width: 1200px) {
  .App {
    display: flex;
    flex-direction: row-reverse;
  }
} */
