/* GLOBALS */
:root {
  --mainTitle-color: #c62300;
  --background-color: #213555;
  --font-color: #f5efe7;
  --container-color:   
;
}
body {
  background: var(--background-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

video {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
